/*header*/
@media screen and (min-width: 1200px) {
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #f9f9f9;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  }

  
  .logo img {
	width: 40px; 
  }
  
  .brand h1 {
	margin: 0;
	color: rgb(80, 112, 96);
	font-family: Warnock Pro;
  }
  
  .profile img {
	width: 40px; 
  }

}

/*profil*/

@media screen and (min-width: 1200px) {
    .box_profil {
        width: 20%;
        left: 10%;
        position:absolute;
        top: 13%;
      }
    
      .box_editer {
        width: 60%;
      }
    
      .editer_txt {
        font-size: 20px;
      }
  
      .profil_nom {
          font-size: 18px;
          margin-top: 50%;
        }
    
      .profil_compte {
        font-size: 18px;
        margin-top: 65%;
      }
    }


/*Historique*/

@media screen and (min-width: 1200px) {
    .historique {
        background-color:rgba(236.00000113248825, 236.00000113248825, 236.00000113248825, 1);
        width:30%;
        height:70%;
        position:absolute;
        left:5%;
        top:70%;
        border-radius: 5%;
    }

    .historique_titre {
        margin-top: 5%;
        font-size: 32px;
    }

    .historique_txt {
        font-size: 20px;
        margin-top: 3%;
    }

    .date1,
    .date2,
    .date3,
    .date4 {
        font-size: 18px;
    }
}

/*About*/

@media screen and (min-width: 1200px) {
    .about {
        background-color:rgba(236.00000113248825, 236.00000113248825, 236.00000113248825, 1);
        width:40%;
        height:40%;
        position:absolute;
        right: 5%;
        top:13%;
        border-radius: 30px;
        }

    .about_titre {
        font-size: 32px;
        margin-top: 2%;
    }

    .about_txt {
        font-size: 20px;
        margin-top: -1%;
    }
}

/*Infos perso*/

@media screen and (min-width: 1200px) {
    .perso { 
        width:40%;
        height:40%;
        position:absolute;
        right: 5%;
        top:61%;
        background-color:rgba(236.00000113248825, 236.00000113248825, 236.00000113248825, 1);
        border-radius: 30px;
    }

    .perso_titre {
        font-size: 32px;
    }

    .perso_l1 { 
        position:absolute;
        left:50%;
        top:25%;
        width: 40%;
        height: 8%;
        border-radius: 30px;
        z-index: 999;
        
    }
    .perso_l2 { 
        position: absolute;
        left:50%;
        top:40%;
        width: 40%;
        height: 8%;
        border-radius: 30px;
        z-index: 999;
    }
    .perso_l3 { 
        left:50%;
        top:55%;
        position: absolute;
        width: 40%;
        height: 8%;
        border-radius: 30px;
        z-index: 999;
    
    }
    .perso_l4 { 
        position:absolute;
        left:50%;
        top:70%;
        width: 40%;
        height: 8%;
        border-radius: 30px;
        z-index: 999;
    }
    
    .infos { 
        width:30%;
        height:100%;
        position:absolute;
        left:10%;
        top:0%;
    }
    .telephone { 
        color:rgba(0, 0, 0, 1);
        width:12%;
        height:auto;
        position:absolute;
        left:30%;
        top:25%;
        font-family:Josefin Sans;
        text-align:center;
        font-size:20px;
        letter-spacing:0;
        
    }
    .mail { 
        color:rgba(0, 0, 0, 1);
        width:12%;
        height:auto;
        position:absolute;
        left:30%;
        top:40%;
        font-family:Josefin Sans;
        text-align:center;
        font-size:20px;
        letter-spacing:0;
        
    }
    .adresse { 
        color:rgba(0, 0, 0, 1);
        width:12%;
        height:auto;
        position:absolute;
        left:30%;
        top:55%;
        font-family:Josefin Sans;
        text-align:left;
        font-size:20px;
        letter-spacing:0;
    }
    .nationalité { 
        color:rgba(0, 0, 0, 1);
        width: 12%;
        position:absolute;
        left:30%;
        top:70%;
        font-family:Josefin Sans;
        text-align:center;
        font-size:20px;
        letter-spacing:0;
    }
    .perso_icons { 
        height:auto;
        left:0%;
        top:1%;
    }
    
    
    .perso_icon1 { 
        width:2vh;
        height:3vh;
        position:absolute;
        left:3%;
        top:22%;
        background-image: url(Images/phone.svg);
        background-repeat: no-repeat;
        background-position: center;
        
        
    }
    .perso_icon2 { 
        width:2.8vh;
        height:2vh;
        position:absolute;
        left:0%;
        top:39%;
        background-image: url(Images/envelope.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .perso_icon3 { 
        width:3vh;
        height:3vh;
        position:absolute;
        left:0%;
        top:53%;
        background-image: url(Images/house.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .perso_icon4 { 
        width:3vh;
        height:3.8vh;
        position:absolute;
        left:0%;
        top:67%;
        background-image: url(Images/bxs_plane-land.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}

/*Commentaires*/

@media screen and (min-width: 1200px) {
    .boxcom { 
        background-color:rgba(236.00000113248825, 236.00000113248825, 236.00000113248825, 1);
        width:40%;
        height:40%;
        position:absolute;
        right: 5%;
        top: 110%;
        border-radius: 30px;
    }

    .boxcom_nom { 
        color:rgba(0, 0, 0, 1);
        width:100%;
        height:10%;
        position:absolute;
        left:20%;
        top:25%;
        font-family:Josefin Sans;
        text-align:left;
        font-size:25px;
        letter-spacing:0;
    }
    .boxcom_im { 
        width:100%;
        height:100%;
        position:absolute;
        left:5%;
        top:15%;
        background-image:url(images/Ellipse\ 31.png);
        background-repeat:no-repeat;
        background-size:fill;
        
        
    
    }
    .boxcom_txt { 
        color:rgba(0, 0, 0, 1);
        width:100%;
        height:60%;
        position:absolute;
        left:0%;
        top:40%;
        font-family:Josefin Sans;
        text-align:center;
        font-size:20px;
        letter-spacing:0;
        padding: 3%;
    }
    .boxcom_adresse { 
        color:rgba(0, 0, 0, 1);
        width:100%;
        height:10%;
        position:absolute;
        left:20%;
        top:33%;
        font-family:Josefin Sans;
        text-align:left;
        font-size:20px;
        letter-spacing:0;
    }
    .boxcom_com { 
        color:rgba(0, 0, 0, 1);
        width:100%;
        height:10%;
        position:absolute;
        left:0%;
        top:5%;
        font-family:Josefin Sans;
        text-align:center;
        font-size:30px;
        letter-spacing:0;
    }
}

/*Lignes*/

@media screen and (min-width: 1200px) {
    .ligne1 { 
        transform: rotate(1.5902773407317584e-15deg);
        width:40%;
        height:0%;
        position:absolute;
        right: 5%;
        top:57%;
        border:1px solid rgb(0, 0, 0);
    }
    .ligne2 { 
        transform: rotate(1.5902773407317584e-15deg);
        width:40%;
        height:0%;
        position:absolute;
        right: 5%;
        top:105%;
        border:1px solid rgb(9, 9, 9);
    }
    
    .ligne3 { 
        width:0% ;
        height:135%;
        position:absolute;
        left: 40%;
        top:5%;
        margin: 3%;
        border:1px solid rgba(0, 0, 0, 1);
    }
    
}
/*Enregistrer*/

@media screen and (min-width: 1200px) {
    .enregistrer-button {
        background-color: rgba(0, 0, 0, 1);
        width: 12%;
        height: 5%;
        position: absolute;
        left: 20%;
        top: 145%;
        transform: translateX(-50%);
        border-radius: 10px;
        border: none;
        padding: 0;
        cursor: pointer;
      }

        
}



/*Footer*/

@media screen and (min-width: 1200px) {
    footer {
        position: absolute;
        bottom: -590px;
        left: 0;
        width: 100%;
        height: 200px;
        background-color: rgb(0, 0, 0);
        
        }
}

/*Pour profil php*/

@media screen and (min-width: 1200px) {
    .perso { 
        width:40%;
        height:40%;
        position:absolute;
        right: 5%;
        top:61%;
        background-color:rgba(236.00000113248825, 236.00000113248825, 236.00000113248825, 1);
        border-radius: 30px;
    }

    .perso_titre {
        font-size: 32px;
    }

    .perso_l1 { 
        position:absolute;
        left:50%;
        top:25%;
        width: 40%;
        height: 8%;
        border-radius: 30px;
        z-index: 999;
        
    }
    .perso_l2 { 
        position: absolute;
        left:50%;
        top:40%;
        width: 40%;
        height: 8%;
        border-radius: 30px;
        z-index: 999;
    }
    .perso_l3 { 
        left:50%;
        top:55%;
        position: absolute;
        width: 40%;
        height: 8%;
        border-radius: 30px;
        z-index: 999;
    
    }
    .perso_l4 { 
        position:absolute;
        left:50%;
        top:70%;
        width: 40%;
        height: 8%;
        border-radius: 30px;
        z-index: 999;
    }
    
    .infos { 
        width:30%;
        height:100%;
        position:absolute;
        left:10%;
        top:0%;
    }
    .telephone { 
        color:rgba(0, 0, 0, 1);
        width:12%;
        height:auto;
        position:absolute;
        left:30%;
        top:25%;
        font-family:Josefin Sans;
        text-align:center;
        font-size:20px;
        letter-spacing:0;
        
    }
    .mail { 
        color:rgba(0, 0, 0, 1);
        width:12%;
        height:auto;
        position:absolute;
        left:30%;
        top:40%;
        font-family:Josefin Sans;
        text-align:center;
        font-size:20px;
        letter-spacing:0;
        
    }
    .adresse { 
        color:rgba(0, 0, 0, 1);
        width:12%;
        height:auto;
        position:absolute;
        left:30%;
        top:55%;
        font-family:Josefin Sans;
        text-align:left;
        font-size:20px;
        letter-spacing:0;
    }
    .nationalité { 
        color:rgba(0, 0, 0, 1);
        width: 12%;
        position:absolute;
        left:30%;
        top:70%;
        font-family:Josefin Sans;
        text-align:center;
        font-size:20px;
        letter-spacing:0;
    }
    .perso_icons2 { 
        height:auto;
        left:0%;
        top:1%;
    }
    
    
    .perso_icon5 { 
        width:2vh;
        height:6vh;
        position:absolute;
        left:3.5%;
        top:20%;
        background-image: url(Images/phone.svg);
        background-repeat: no-repeat;
        background-position: center;
        
        
    }
    .perso_icon6 { 
        width:2.8vh;
        height:2vh;
        position:absolute;
        left:3%;
        top:39%;
        background-image: url(Images/envelope.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .perso_icon7 { 
        width:3vh;
        height:3vh;
        position:absolute;
        left:3%;
        top:53%;
        background-image: url(Images/house.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .perso_icon8 { 
        width:3vh;
        height:3.8vh;
        position:absolute;
        left:3%;
        top:67%;
        background-image: url(Images/bxs_plane-land.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}